[Desktop Entry]
Version=1.0
Terminal=true
Type=Application
Name=Amazon Music
Exec=sh /home/TEMPUSER/.local/share/scripts/open_music.sh
Icon=none
StartupWMClass=music
